/*
	Nuestra Hoja de Estilos Principal
	@author Jose
	@version 1.0
	@fecha 2019 07 12
	0. Reset     - resetear estilos del user-agent
	1. Animaciones o Keyframes
	2. Etiquetas - dar estilos base a todos los tags 
	3. clases comunes
	4. Layouts   - secciones de la web (cabecera, menus, pies, etc...)
	5. Media Querys para RWD Responsive Web Design
*/


/*
* Etiquetas
************************************************************************/

footer#main{
    position: relative;
    
}

.descuento{
    position: absolute;
    margin-left: 4px;

}
.boton-arriba{
    display: none;
	position: fixed;
  	bottom:  2em;
	right: 2em;
	background-color: white;
	border-radius: 50%;
	padding: 2px;
	z-index: 1000;

	-webkit-box-shadow: 12px 8px 16px -2px rgba(0,0,0,0.74); 
	box-shadow: 12px 8px 16px -2px rgba(0,0,0,0.74);

}

.tachado{
    text-decoration: line-through;
}

.precio{

}

.precioMedio{

}

.descripcion{
    
}

.align-items-center {
    -ms-flex-align: center!important;
    align-items:baseline!important;
}
/* 5. Media Querys para RWD
***********************************************************************/
/* MOBILE L */
@media (max-width: 768px){

    footer#main{
        position: relative;
    }

    .boton-arriba{
        bottom: 0.5em;
        right: 0.5em;
        display: inline-flex;
    }
}

.container-flags {
	display: flex;
	justify-content: space-around;
}

.container-flags .img-flag {
	width: 100px;
} 



@media (max-width: 576px){
    

    .boton-arriba{
        bottom: 0.5em;
        right: 0.5em;
        display: inline-flex;
    }
}