/*
	Nuestra Hoja de Estilos Principal
	@author Jose
	@version 1.0
	@fecha 2019 07 12
	0. Reset     - resetear estilos del user-agent
	1. Animaciones o Keyframes
	2. Etiquetas - dar estilos base a todos los tags 
	3. clases comunes
	4. Layouts   - secciones de la web (cabecera, menus, pies, etc...)
	5. Media Querys para RWD Responsive Web Design
*/


/*
* Etiquetas
************************************************************************/



.container-flags {
	display: flex;
	justify-content: space-around;
}

/*
.container-flags .img-flag {
	width: 100px;
} 
*/

img.inactive {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

nav img{
	width: 25px;
	height: 25px;
}


/* 5. Media Querys para RWD
***********************************************************************/
/* MOBILE L */
@media (max-width: 768px){

    footer#main{
        position: relative;
    }

    .boton-arriba{
        bottom: 0.5em;
        right: 0.5em;
        display: inline-flex;
    }
}





@media (max-width: 576px){
    

    .boton-arriba{
        bottom: 0.5em;
        right: 0.5em;
        display: inline-flex;
    }
}